In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('testing.csv')

In [8]:
df.head()

   1  Karan
0  2  Anand
1  3  Tanuj
2  4  Aryan
3  5     Om

In [12]:
start = df[:0]
start

Empty DataFrame
Columns: [1, Karan]
Index: []

In [13]:
df.columns = ['id', 'names']

In [16]:
df.append(start[0])

KeyError: 0

In [6]:
df.head()

   id  names
0   2  Anand
1   3  Tanuj
2   4  Aryan
3   5     Om